<!-- TABLE  -->
<div class=" panel-content ">
  <div class="row ">
    <div class="col-md-12 ">
      <div class="widget ">
        <div class="table-area ">
          <div class="widget-title ">
            <div class="pull-right">
              <form class="search-form mr-form ">
                  <input type="text " ng-change="searchInTable(search) " placeholder="Search Here...
                                     " ng-model="search" />
                </form>
              <a class="btn btn-success" ui-sref="detailproducts">
                Create
              </a>
            </div>
            <h3>List of Products
              <span class="tableTotal">(Total : {{totalItems}}) </span>
            </h3>
          </div>
          <div class="table-responsive ">
            <!--<div class="table-responsive " ng-show="totalItems>0 ">-->
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>
                    Name
                  </th>
                  <th>
                    Sub Category
                  </th>
                  <th>
                    Image
                  </th>
                  <th>
                    Priority
                  </th>
                  <th>Actions</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <!--<tr ng-repeat="item in items">-->
                <tr ng-repeat="item in items | filter:search">
                  <!--<tr>-->
                  <td>{{((formData.page-1) * 10) + $index + 1}}</td>
                  <td>{{item.prod_name}}</td>
                  <td>{{item.sub_cat_name}}</td>
                  <td>
                    <div class="product-img" >
                      <img ng-src="{{domain}}/uploads/{{item.prod_img}}" alt="" class="img-responsive">
                    </div>
                  </td>
                  <td>{{item.prod_priority}}</td>
                  <td>
                    <a class="btn btn-primary" target="_self" ui-sref="detailproducts({id:item._id})">
                      <i class="fa fa-pencil"></i> Edit
                    </a>
                  </td>
                  <td>
                    <label class="switch">
                      <input type="checkbox" ng-checked="item.prod_status" ng-click="changeStatus(item)">
                      <span class="slider round"></span>
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tableData " ng-show="totalItems===0 ">
            <h5>No data found</h5>
          </div>
          <div class="tableData " ng-show="totalItems===undefined ">
            <h5>Loading Data</h5>
          </div>
          <ul ng-if="totalItems" ng-change="viewTable()" uib-pagination total-items="totalItems" items-per-page="10" ng-model="formData.page"
            max-size="template.pageMax" class="pagination-sm" boundary-links="true" force-ellipses="true"></ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- TABLE  END -->